In [48]:
from pymongo import MongoClient

In [49]:
try:
    client = MongoClient("mongodb://localhost:27017/")
    print("connected successfully")
except:
    print ("could not connect to mongoDB")

connected successfully

In [50]:
db_Mongo = client.get_database('DSI_Abschlussprojekt')

In [51]:
collection= db_Mongo.Geburten_nach_Einkommen_Wien

In [52]:
list(collection.find())

[{'_id': ObjectId('65a4227b652a4ea3ea112c0b'),
  'District_code': 90100,
  'Year': 2002,
  'Total_Salary': 25463,
  'Male_Salary': 31961,
  'Female_Salary': 18536,
  'Births': 130},
 {'_id': ObjectId('65a4227b652a4ea3ea112c0c'),
  'District_code': 90200,
  'Year': 2002,
  'Total_Salary': 16439,
  'Male_Salary': 18301,
  'Female_Salary': 14282,
  'Births': 981},
 {'_id': ObjectId('65a4227b652a4ea3ea112c0d'),
  'District_code': 90300,
  'Year': 2002,
  'Total_Salary': 18701,
  'Male_Salary': 21444,
  'Female_Salary': 15804,
  'Births': 761},
 {'_id': ObjectId('65a4227b652a4ea3ea112c0e'),
  'District_code': 90400,
  'Year': 2002,
  'Total_Salary': 20325,
  'Male_Salary': 23641,
  'Female_Salary': 16876,
  'Births': 259},
 {'_id': ObjectId('65a4227b652a4ea3ea112c0f'),
  'District_code': 90500,
  'Year': 2002,
  'Total_Salary': 16258,
  'Male_Salary': 17937,
  'Female_Salary': 14395,
  'Births': 557},
 {'_id': ObjectId('65a4227b652a4ea3ea112c10'),
  'District_code': 90600,
  'Year': 2002,
  'Total_Salary': 18724,
  'Male_Salary': 21260,
  'Female_Salary': 16068,
  'Births': 284},
 {'_id': ObjectId('65a4227b652a4ea3ea112c11'),
  'District_code': 90700,
  'Year': 2002,
  'Total_Salary': 18429,
  'Male_Salary': 21129,
  'Female_Salary': 15725,
  'Births': 305},
 {'_id': ObjectId('65a4227b652a4ea3ea112c12'),
  'District_code': 90800,
  'Year': 2002,
  'Total_Salary': 20108,
  'Male_Salary': 23342,
  'Female_Salary': 16931,
  'Births': 210},
 {'_id': ObjectId('65a4227b652a4ea3ea112c13'),
  'District_code': 90900,
  'Year': 2002,
  'Total_Salary': 19106,
  'Male_Salary': 22183,
  'Female_Salary': 16030,
  'Births': 366},
 {'_id': ObjectId('65a4227b652a4ea3ea112c14'),
  'District_code': 91000,
  'Year': 2002,
  'Total_Salary': 16707,
  'Male_Salary': 18657,
  'Female_Salary': 14478,
  'Births': 1632},
 {'_id': ObjectId('65a4227b652a4ea3ea112c15'),
  'District_code': 91100,
  'Year': 2002,
  'Total_Salary': 16742,
  'Male_Salary': 18883,
  'Female_Salary': 14296,
  'Births': 955},
 {'_id': ObjectId('65a4227b652a4ea3ea112c16'),
  'District_code': 91200,
  'Year': 2002,
  'Total_Salary': 16950,
  'Male_Salary': 18884,
  'Female_Salary': 14794,
  'Births': 841},
 {'_id': ObjectId('65a4227b652a4ea3ea112c17'),
  'District_code': 91300,
  'Year': 2002,
  'Total_Salary': 23914,
  'Male_Salary': 29951,
  'Female_Salary': 17877,
  'Births': 432},
 {'_id': ObjectId('65a4227b652a4ea3ea112c18'),
  'District_code': 91400,
  'Year': 2002,
  'Total_Salary': 19511,
  'Male_Salary': 22571,
  'Female_Salary': 16300,
  'Births': 798},
 {'_id': ObjectId('65a4227b652a4ea3ea112c19'),
  'District_code': 91500,
  'Year': 2002,
  'Total_Salary': 14999,
  'Male_Salary': 16355,
  'Female_Salary': 13439,
  'Births': 779},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1a'),
  'District_code': 91600,
  'Year': 2002,
  'Total_Salary': 16329,
  'Male_Salary': 18004,
  'Female_Salary': 14465,
  'Births': 1029},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1b'),
  'District_code': 91700,
  'Year': 2002,
  'Total_Salary': 17604,
  'Male_Salary': 20022,
  'Female_Salary': 14960,
  'Births': 516},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1c'),
  'District_code': 91800,
  'Year': 2002,
  'Total_Salary': 20413,
  'Male_Salary': 24325,
  'Female_Salary': 16466,
  'Births': 463},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1d'),
  'District_code': 91900,
  'Year': 2002,
  'Total_Salary': 22469,
  'Male_Salary': 27605,
  'Female_Salary': 17113,
  'Births': 603},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1e'),
  'District_code': 92000,
  'Year': 2002,
  'Total_Salary': 15696,
  'Male_Salary': 17143,
  'Female_Salary': 13986,
  'Births': 927},
 {'_id': ObjectId('65a4227b652a4ea3ea112c1f'),
  'District_code': 92100,
  'Year': 2002,
  'Total_Salary': 17977,
  'Male_Salary': 20611,
  'Female_Salary': 15081,
  'Births': 1265},
 {'_id': ObjectId('65a4227b652a4ea3ea112c20'),
  'District_code': 92200,
  'Year': 2002,
  'Total_Salary': 18915,
  'Male_Salary': 22016,
  'Female_Salary': 15577,
  'Births': 1536},
 {'_id': ObjectId('65a4227b652a4ea3ea112c21'),
  'District_code': 92300,
  'Year': 2002,
  'Total_Salary': 20799,
  'Male_Salary': 24849,
  'Female_Salary': 16511,
  'Births': 799},
 {'_id': ObjectId('65a4227b652a4ea3ea112c22'),
  'District_code': 90100,
  'Year': 2003,
  'Total_Salary': 26571,
  'Male_Salary': 33764,
  'Female_Salary': 18907,
  'Births': 168},
 {'_id': ObjectId('65a4227b652a4ea3ea112c23'),
  'District_code': 90200,
  'Year': 2003,
  'Total_Salary': 16549,
  'Male_Salary': 18296,
  'Female_Salary': 14478,
  'Births': 1002},
 {'_id': ObjectId('65a4227b652a4ea3ea112c24'),
  'District_code': 90300,
  'Year': 2003,
  'Total_Salary': 18940,
  'Male_Salary': 21523,
  'Female_Salary': 16149,
  'Births': 806},
 {'_id': ObjectId('65a4227b652a4ea3ea112c25'),
  'District_code': 90400,
  'Year': 2003,
  'Total_Salary': 20730,
  'Male_Salary': 24031,
  'Female_Salary': 17256,
  'Births': 294},
 {'_id': ObjectId('65a4227b652a4ea3ea112c26'),
  'District_code': 90500,
  'Year': 2003,
  'Total_Salary': 16402,
  'Male_Salary': 17976,
  'Female_Salary': 14633,
  'Births': 576},
 {'_id': ObjectId('65a4227b652a4ea3ea112c27'),
  'District_code': 90600,
  'Year': 2003,
  'Total_Salary': 19059,
  'Male_Salary': 21460,
  'Female_Salary': 16449,
  'Births': 296},
 {'_id': ObjectId('65a4227b652a4ea3ea112c28'),
  'District_code': 90700,
  'Year': 2003,
  'Total_Salary': 18941,
  'Male_Salary': 21490,
  'Female_Salary': 16388,
  'Births': 273},
 {'_id': ObjectId('65a4227b652a4ea3ea112c29'),
  'District_code': 90800,
  'Year': 2003,
  'Total_Salary': 20345,
  'Male_Salary': 23644,
  'Female_Salary': 17106,
  'Births': 197},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2a'),
  'District_code': 90900,
  'Year': 2003,
  'Total_Salary': 19141,
  'Male_Salary': 21776,
  'Female_Salary': 16335,
  'Births': 419},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2b'),
  'District_code': 91000,
  'Year': 2003,
  'Total_Salary': 16792,
  'Male_Salary': 18586,
  'Female_Salary': 14669,
  'Births': 1642},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2c'),
  'District_code': 91100,
  'Year': 2003,
  'Total_Salary': 16838,
  'Male_Salary': 18937,
  'Female_Salary': 14403,
  'Births': 933},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2d'),
  'District_code': 91200,
  'Year': 2003,
  'Total_Salary': 16999,
  'Male_Salary': 18834,
  'Female_Salary': 14895,
  'Births': 858},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2e'),
  'District_code': 91300,
  'Year': 2003,
  'Total_Salary': 24149,
  'Male_Salary': 29800,
  'Female_Salary': 18220,
  'Births': 422},
 {'_id': ObjectId('65a4227b652a4ea3ea112c2f'),
  'District_code': 91400,
  'Year': 2003,
  'Total_Salary': 19613,
  'Male_Salary': 22460,
  'Female_Salary': 16534,
  'Births': 754},
 {'_id': ObjectId('65a4227b652a4ea3ea112c30'),
  'District_code': 91500,
  'Year': 2003,
  'Total_Salary': 14998,
  'Male_Salary': 16321,
  'Female_Salary': 13415,
  'Births': 841},
 {'_id': ObjectId('65a4227b652a4ea3ea112c31'),
  'District_code': 91600,
  'Year': 2003,
  'Total_Salary': 16434,
  'Male_Salary': 17991,
  'Female_Salary': 14593,
  'Births': 1023},
 {'_id': ObjectId('65a4227b652a4ea3ea112c32'),
  'District_code': 91700,
  'Year': 2003,
  'Total_Salary': 17713,
  'Male_Salary': 19906,
  'Female_Salary': 15215,
  'Births': 513},
 {'_id': ObjectId('65a4227b652a4ea3ea112c33'),
  'District_code': 91800,
  'Year': 2003,
  'Total_Salary': 20614,
  'Male_Salary': 24511,
  'Female_Salary': 16593,
  'Births': 497},
 {'_id': ObjectId('65a4227b652a4ea3ea112c34'),
  'District_code': 91900,
  'Year': 2003,
  'Total_Salary': 22458,
  'Male_Salary': 27421,
  'Female_Salary': 17292,
  'Births': 569},
 {'_id': ObjectId('65a4227b652a4ea3ea112c35'),
  'District_code': 92000,
  'Year': 2003,
  'Total_Salary': 15705,
  'Male_Salary': 17018,
  'Female_Salary': 14096,
  'Births': 985},
 {'_id': ObjectId('65a4227b652a4ea3ea112c36'),
  'District_code': 92100,
  'Year': 2003,
  'Total_Salary': 18071,
  'Male_Salary': 20582,
  'Female_Salary': 15264,
  'Births': 1242},
 {'_id': ObjectId('65a4227b652a4ea3ea112c37'),
  'District_code': 92200,
  'Year': 2003,
  'Total_Salary': 19091,
  'Male_Salary': 22105,
  'Female_Salary': 15075,
  'Births': 1431},
 {'_id': ObjectId('65a4227b652a4ea3ea112c38'),
  'District_code': 92300,
  'Year': 2003,
  'Total_Salary': 20869,
  'Male_Salary': 24792,
  'Female_Salary': 16651,
  'Births': 745},
 {'_id': ObjectId('65a4227b652a4ea3ea112c39'),
  'District_code': 90100,
  'Year': 2004,
  'Total_Salary': 26854,
  'Male_Salary': 33770,
  'Female_Salary': 19483,
  'Births': 145},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3a'),
  'District_code': 90200,
  'Year': 2004,
  'Total_Salary': 16640,
  'Male_Salary': 18263,
  'Female_Salary': 14746,
  'Births': 962},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3b'),
  'District_code': 90300,
  'Year': 2004,
  'Total_Salary': 19290,
  'Male_Salary': 21964,
  'Female_Salary': 16466,
  'Births': 842},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3c'),
  'District_code': 90400,
  'Year': 2004,
  'Total_Salary': 21126,
  'Male_Salary': 24824,
  'Female_Salary': 17320,
  'Births': 301},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3d'),
  'District_code': 90500,
  'Year': 2004,
  'Total_Salary': 16484,
  'Male_Salary': 18108,
  'Female_Salary': 14712,
  'Births': 583},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3e'),
  'District_code': 90600,
  'Year': 2004,
  'Total_Salary': 19132,
  'Male_Salary': 21560,
  'Female_Salary': 16530,
  'Births': 268},
 {'_id': ObjectId('65a4227b652a4ea3ea112c3f'),
  'District_code': 90700,
  'Year': 2004,
  'Total_Salary': 19046,
  'Male_Salary': 21447,
  'Female_Salary': 16665,
  'Births': 299},
 {'_id': ObjectId('65a4227b652a4ea3ea112c40'),
  'District_code': 90800,
  'Year': 2004,
  'Total_Salary': 20645,
  'Male_Salary': 23832,
  'Female_Salary': 17516,
  'Births': 217},
 {'_id': ObjectId('65a4227b652a4ea3ea112c41'),
  'District_code': 90900,
  'Year': 2004,
  'Total_Salary': 19534,
  'Male_Salary': 22627,
  'Female_Salary': 16460,
  'Births': 373},
 {'_id': ObjectId('65a4227b652a4ea3ea112c42'),
  'District_code': 91000,
  'Year': 2004,
  'Total_Salary': 16765,
  'Male_Salary': 18542,
  'Female_Salary': 14680,
  'Births': 1721},
 {'_id': ObjectId('65a4227b652a4ea3ea112c43'),
  'District_code': 91100,
  'Year': 2004,
  'Total_Salary': 16930,
  'Male_Salary': 18901,
  'Female_Salary': 14658,
  'Births': 1003},
 {'_id': ObjectId('65a4227b652a4ea3ea112c44'),
  'District_code': 91200,
  'Year': 2004,
  'Total_Salary': 17126,
  'Male_Salary': 19039,
  'Female_Salary': 14974,
  'Births': 918},
 {'_id': ObjectId('65a4227b652a4ea3ea112c45'),
  'District_code': 91300,
  'Year': 2004,
  'Total_Salary': 24701,
  'Male_Salary': 30745,
  'Female_Salary': 18641,
  'Births': 410},
 {'_id': ObjectId('65a4227b652a4ea3ea112c46'),
  'District_code': 91400,
  'Year': 2004,
  'Total_Salary': 19809,
  'Male_Salary': 22804,
  'Female_Salary': 16637,
  'Births': 810},
 {'_id': ObjectId('65a4227b652a4ea3ea112c47'),
  'District_code': 91500,
  'Year': 2004,
  'Total_Salary': 15025,
  'Male_Salary': 16251,
  'Female_Salary': 13560,
  'Births': 818},
 {'_id': ObjectId('65a4227b652a4ea3ea112c48'),
  'District_code': 91600,
  'Year': 2004,
  'Total_Salary': 16576,
  'Male_Salary': 18087,
  'Female_Salary': 14835,
  'Births': 1071},
 {'_id': ObjectId('65a4227b652a4ea3ea112c49'),
  'District_code': 91700,
  'Year': 2004,
  'Total_Salary': 17768,
  'Male_Salary': 19940,
  'Female_Salary': 15329,
  'Births': 542},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4a'),
  'District_code': 91800,
  'Year': 2004,
  'Total_Salary': 20915,
  'Male_Salary': 25061,
  'Female_Salary': 16671,
  'Births': 551},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4b'),
  'District_code': 91900,
  'Year': 2004,
  'Total_Salary': 22875,
  'Male_Salary': 28208,
  'Female_Salary': 17401,
  'Births': 575},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4c'),
  'District_code': 92000,
  'Year': 2004,
  'Total_Salary': 15783,
  'Male_Salary': 17145,
  'Female_Salary': 14128,
  'Births': 1018},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4d'),
  'District_code': 92100,
  'Year': 2004,
  'Total_Salary': 18158,
  'Male_Salary': 20700,
  'Female_Salary': 15356,
  'Births': 1266},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4e'),
  'District_code': 92200,
  'Year': 2004,
  'Total_Salary': 19355,
  'Male_Salary': 22477,
  'Female_Salary': 15953,
  'Births': 1444},
 {'_id': ObjectId('65a4227b652a4ea3ea112c4f'),
  'District_code': 92300,
  'Year': 2004,
  'Total_Salary': 20923,
  'Male_Salary': 24809,
  'Female_Salary': 16814,
  'Births': 719},
 {'_id': ObjectId('65a4227b652a4ea3ea112c50'),
  'District_code': 90100,
  'Year': 2005,
  'Total_Salary': 28638,
  'Male_Salary': 35904,
  'Female_Salary': 21011,
  'Births': 127},
 {'_id': ObjectId('65a4227b652a4ea3ea112c51'),
  'District_code': 90200,
  'Year': 2005,
  'Total_Salary': 17074,
  'Male_Salary': 18703,
  'Female_Salary': 15179,
  'Births': 988},
 {'_id': ObjectId('65a4227b652a4ea3ea112c52'),
  'District_code': 90300,
  'Year': 2005,
  'Total_Salary': 19799,
  'Male_Salary': 22520,
  'Female_Salary': 16910,
  'Births': 820},
 {'_id': ObjectId('65a4227b652a4ea3ea112c53'),
  'District_code': 90400,
  'Year': 2005,
  'Total_Salary': 21767,
  'Male_Salary': 25133,
  'Female_Salary': 18307,
  'Births': 284},
 {'_id': ObjectId('65a4227b652a4ea3ea112c54'),
  'District_code': 90500,
  'Year': 2005,
  'Total_Salary': 16873,
  'Male_Salary': 18436,
  'Female_Salary': 15143,
  'Births': 603},
 {'_id': ObjectId('65a4227b652a4ea3ea112c55'),
  'District_code': 90600,
  'Year': 2005,
  'Total_Salary': 19714,
  'Male_Salary': 22184,
  'Female_Salary': 17087,
  'Births': 265},
 {'_id': ObjectId('65a4227b652a4ea3ea112c56'),
  'District_code': 90700,
  'Year': 2005,
  'Total_Salary': 19778,
  'Male_Salary': 22475,
  'Female_Salary': 17133,
  'Births': 280},
 {'_id': ObjectId('65a4227b652a4ea3ea112c57'),
  'District_code': 90800,
  'Year': 2005,
  'Total_Salary': 21842,
  'Male_Salary': 25497,
  'Female_Salary': 18304,
  'Births': 227},
 {'_id': ObjectId('65a4227b652a4ea3ea112c58'),
  'District_code': 90900,
  'Year': 2005,
  'Total_Salary': 20203,
  'Male_Salary': 23577,
  'Female_Salary': 16877,
  'Births': 380},
 {'_id': ObjectId('65a4227b652a4ea3ea112c59'),
  'District_code': 91000,
  'Year': 2005,
  'Total_Salary': 17074,
  'Male_Salary': 18812,
  'Female_Salary': 15034,
  'Births': 1705},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5a'),
  'District_code': 91100,
  'Year': 2005,
  'Total_Salary': 17367,
  'Male_Salary': 19343,
  'Female_Salary': 15075,
  'Births': 941},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5b'),
  'District_code': 91200,
  'Year': 2005,
  'Total_Salary': 17357,
  'Male_Salary': 19145,
  'Female_Salary': 15331,
  'Births': 948},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5c'),
  'District_code': 91300,
  'Year': 2005,
  'Total_Salary': 25382,
  'Male_Salary': 31628,
  'Female_Salary': 19132,
  'Births': 412},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5d'),
  'District_code': 91400,
  'Year': 2005,
  'Total_Salary': 20234,
  'Male_Salary': 23196,
  'Female_Salary': 17118,
  'Births': 790},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5e'),
  'District_code': 91500,
  'Year': 2005,
  'Total_Salary': 15376,
  'Male_Salary': 16622,
  'Female_Salary': 13891,
  'Births': 809},
 {'_id': ObjectId('65a4227b652a4ea3ea112c5f'),
  'District_code': 91600,
  'Year': 2005,
  'Total_Salary': 17030,
  'Male_Salary': 18523,
  'Female_Salary': 15302,
  'Births': 1089},
 {'_id': ObjectId('65a4227b652a4ea3ea112c60'),
  'District_code': 91700,
  'Year': 2005,
  'Total_Salary': 18260,
  'Male_Salary': 20538,
  'Female_Salary': 15729,
  'Births': 590},
 {'_id': ObjectId('65a4227b652a4ea3ea112c61'),
  'District_code': 91800,
  'Year': 2005,
  'Total_Salary': 21630,
  'Male_Salary': 25617,
  'Female_Salary': 17546,
  'Births': 461},
 {'_id': ObjectId('65a4227b652a4ea3ea112c62'),
  'District_code': 91900,
  'Year': 2005,
  'Total_Salary': 23232,
  'Male_Salary': 28546,
  'Female_Salary': 17810,
  'Births': 562},
 {'_id': ObjectId('65a4227b652a4ea3ea112c63'),
  'District_code': 92000,
  'Year': 2005,
  'Total_Salary': 16023,
  'Male_Salary': 17369,
  'Female_Salary': 14403,
  'Births': 983},
 {'_id': ObjectId('65a4227b652a4ea3ea112c64'),
  'District_code': 92100,
  'Year': 2005,
  'Total_Salary': 18547,
  'Male_Salary': 21146,
  'Female_Salary': 15691,
  'Births': 1279},
 {'_id': ObjectId('65a4227b652a4ea3ea112c65'),
  'District_code': 92200,
  'Year': 2005,
  'Total_Salary': 19804,
  'Male_Salary': 22962,
  'Female_Salary': 16389,
  'Births': 1463},
 {'_id': ObjectId('65a4227b652a4ea3ea112c66'),
  'District_code': 92300,
  'Year': 2005,
  'Total_Salary': 21544,
  'Male_Salary': 25498,
  'Female_Salary': 17380,
  'Births': 734},
 {'_id': ObjectId('65a4227b652a4ea3ea112c67'),
  'District_code': 90100,
  'Year': 2006,
  'Total_Salary': 29234,
  'Male_Salary': 36957,
  'Female_Salary': 21160,
  'Births': 149},
 {'_id': ObjectId('65a4227b652a4ea3ea112c68'),
  'District_code': 90200,
  'Year': 2006,
  'Total_Salary': 17458,
  'Male_Salary': 19051,
  'Female_Salary': 15597,
  'Births': 1037},
 {'_id': ObjectId('65a4227b652a4ea3ea112c69'),
  'District_code': 90300,
  'Year': 2006,
  'Total_Salary': 20210,
  'Male_Salary': 23088,
  'Female_Salary': 17189,
  'Births': 823},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6a'),
  'District_code': 90400,
  'Year': 2006,
  'Total_Salary': 22350,
  'Male_Salary': 25922,
  'Female_Salary': 18674,
  'Births': 294},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6b'),
  'District_code': 90500,
  'Year': 2006,
  'Total_Salary': 17295,
  'Male_Salary': 18976,
  'Female_Salary': 15437,
  'Births': 541},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6c'),
  'District_code': 90600,
  'Year': 2006,
  'Total_Salary': 20273,
  'Male_Salary': 22768,
  'Female_Salary': 17686,
  'Births': 260},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6d'),
  'District_code': 90700,
  'Year': 2006,
  'Total_Salary': 20885,
  'Male_Salary': 24120,
  'Female_Salary': 17737,
  'Births': 338},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6e'),
  'District_code': 90800,
  'Year': 2006,
  'Total_Salary': 22329,
  'Male_Salary': 26086,
  'Female_Salary': 18679,
  'Births': 206},
 {'_id': ObjectId('65a4227b652a4ea3ea112c6f'),
  'District_code': 90900,
  'Year': 2006,
  'Total_Salary': 20748,
  'Male_Salary': 24163,
  'Female_Salary': 17393,
  'Births': 388},
 {'_id': ObjectId('65a4227b652a4ea3ea112c70'),
  'District_code': 91000,
  'Year': 2006,
  'Total_Salary': 17257,
  'Male_Salary': 18984,
  'Female_Salary': 15220,
  'Births': 1865},
 {'_id': ObjectId('65a4227b652a4ea3ea112c71'),
  'District_code': 91100,
  'Year': 2006,
  'Total_Salary': 17646,
  'Male_Salary': 19658,
  'Female_Salary': 15313,
  'Births': 875},
 {'_id': ObjectId('65a4227b652a4ea3ea112c72'),
  'District_code': 91200,
  'Year': 2006,
  'Total_Salary': 17446,
  'Male_Salary': 19188,
  'Female_Salary': 15485,
  'Births': 968},
 {'_id': ObjectId('65a4227b652a4ea3ea112c73'),
  'District_code': 91300,
  'Year': 2006,
  'Total_Salary': 26230,
  'Male_Salary': 32744,
  'Female_Salary': 19809,
  'Births': 487},
 {'_id': ObjectId('65a4227b652a4ea3ea112c74'),
  'District_code': 91400,
  'Year': 2006,
  'Total_Salary': 20510,
  'Male_Salary': 23360,
  'Female_Salary': 17514,
  'Births': 844},
 {'_id': ObjectId('65a4227b652a4ea3ea112c75'),
  'District_code': 91500,
  'Year': 2006,
  'Total_Salary': 15527,
  'Male_Salary': 16713,
  'Female_Salary': 14125,
  'Births': 794},
 {'_id': ObjectId('65a4227b652a4ea3ea112c76'),
  'District_code': 91600,
  'Year': 2006,
  'Total_Salary': 17170,
  'Male_Salary': 18734,
  'Female_Salary': 15374,
  'Births': 1095},
 {'_id': ObjectId('65a4227b652a4ea3ea112c77'),
  'District_code': 91700,
  'Year': 2006,
  'Total_Salary': 18411,
  'Male_Salary': 20699,
  'Female_Salary': 15872,
  'Births': 577},
 {'_id': ObjectId('65a4227b652a4ea3ea112c78'),
  'District_code': 91800,
  'Year': 2006,
  'Total_Salary': 22139,
  'Male_Salary': 26614,

In [53]:
query = {
    "Total_Salary": {"$gt": 10000.0},
    "Births": {"$gt": 100.0}
}

In [54]:
result = collection.find_one(query)

In [55]:
if result:
    print("District_code:", result["District_code"])
else:
    print("No matching listing found.")

District_code: 90100

In [56]:
collection.distinct("District_code")

[90100,
 90200,
 90300,
 90400,
 90500,
 90600,
 90700,
 90800,
 90900,
 91000,
 91100,
 91200,
 91300,
 91400,
 91500,
 91600,
 91700,
 91800,
 91900,
 92000,
 92100,
 92200,
 92300]

In [57]:
query_Salary = {
    "Total_Salary": {"$gt": 20.000}
}
collection.count_documents(query_Salary)

460

In [62]:
max_salary_doc = collection.find_one(sort=[("Total_Salary", -1)])

In [63]:
max_salary_doc

{'_id': ObjectId('65a6be23652a4ea3ea11315a'),
 'District_code': 90100,
 'Year': 2021,
 'Total_Salary': 37250,
 'Male_Salary': 44343,
 'Female_Salary': 29954,
 'Births': 105}

In [64]:
max_Female_salary_doc = collection.find_one(sort=[("Female_Salary", -1)])

In [65]:
max_Female_salary_doc

{'_id': ObjectId('65a6be23652a4ea3ea11315a'),
 'District_code': 90100,
 'Year': 2021,
 'Total_Salary': 37250,
 'Male_Salary': 44343,
 'Female_Salary': 29954,
 'Births': 105}

In [66]:
max_Male_salary_doc = collection.find_one(sort=[("Male_Salary", -1)])

In [67]:
max_Male_salary_doc

{'_id': ObjectId('65a6be23652a4ea3ea1130e7'),
 'District_code': 90100,
 'Year': 2016,
 'Total_Salary': 34748,
 'Male_Salary': 44494,
 'Female_Salary': 25284,
 'Births': 118}

In [68]:
max_Births_doc = collection.find_one(sort=[("Births", -1)])

In [69]:
max_Births_doc

{'_id': ObjectId('65a6be23652a4ea3ea1130f0'),
 'District_code': 91000,
 'Year': 2016,
 'Total_Salary': 19047,
 'Male_Salary': 20383,
 'Female_Salary': 17442,
 'Births': 2552}

In [72]:
min_Births_doc = collection.find_one(sort=[("Births", 1)])

In [73]:
min_Births_doc

{'_id': ObjectId('65a6be23652a4ea3ea11315a'),
 'District_code': 90100,
 'Year': 2021,
 'Total_Salary': 37250,
 'Male_Salary': 44343,
 'Female_Salary': 29954,
 'Births': 105}

In [74]:
min_salary_doc = collection.find_one(sort=[("Total_Salary", 1)])

In [75]:
min_salary_doc

{'_id': ObjectId('65a6be23652a4ea3ea112fca'),
 'District_code': 91500,
 'Year': 2003,
 'Total_Salary': 14998,
 'Male_Salary': 16321,
 'Female_Salary': 13415,
 'Births': 841}

In [76]:
min_Male_doc = collection.find_one(sort=[("Male_Salary", 1)])

In [77]:
min_Male_doc

{'_id': ObjectId('65a6be23652a4ea3ea112fe1'),
 'District_code': 91500,
 'Year': 2004,
 'Total_Salary': 15025,
 'Male_Salary': 16251,
 'Female_Salary': 13560,
 'Births': 818}

In [78]:
min_Female_doc = collection.find_one(sort=[("Female_Salary", 1)])

In [79]:
min_Female_doc

{'_id': ObjectId('65a6be23652a4ea3ea112fca'),
 'District_code': 91500,
 'Year': 2003,
 'Total_Salary': 14998,
 'Male_Salary': 16321,
 'Female_Salary': 13415,
 'Births': 841}

In [70]:
import pandas as pd
df = pd.DataFrame(list(collection.find()))

In [71]:
df

,_id,District_code,Year,Total_Salary,Male_Salary,Female_Salary,Births
0,65a6be23652a4ea3ea112fa5,90100,2002,25463,31961,18536,130
1,65a6be23652a4ea3ea112fa6,90200,2002,16439,18301,14282,981
2,65a6be23652a4ea3ea112fa7,90300,2002,18701,21444,15804,761
3,65a6be23652a4ea3ea112fa8,90400,2002,20325,23641,16876,259
4,65a6be23652a4ea3ea112fa9,90500,2002,16258,17937,14395,557
...,...,...,...,...,...,...,...
455,65a6be23652a4ea3ea11316c,91900,2021,29903,34540,25235,643
456,65a6be23652a4ea3ea11316d,92000,2021,21201,22241,19916,852
457,65a6be23652a4ea3ea11316e,92100,2021,24381,26587,21926,1878
458,65a6be23652a4ea3ea11316f,92200,2021,26722,29850,23454,1968
459,65a6be23652a4ea3ea113170,92300,2021,27268,30581,23748,1186